.List {
  h2 {
    font-size: 3rem;
  }
  margin: 0 20px;

  .table {
    display: flex;
    flex-direction: column;
  }

  .table-header {
    font-weight: bold;
  }

  .table-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  .table-cell {
    flex: 1;
    text-align: start;
  }

  .table-body {
    height: 60%;
    overflow-y: scroll;
  }

  .table-body::-webkit-scrollbar {
    width: 8px;
  }

  .table-body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .table-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .table-body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
